<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
  {{>header}}
  <p>This site was created by Cho sung woo. It uses data from mapbox.com and darkysky.net</p>
  <img src="img/The-Rock.jpg" />

  {{>footer}}
</body>

</html>